### Grouping Result Sets
- Eleminate duplicates from  a reult set
- How to restrict a result sets

#### Eliminating Duplicates - DISTINCT clause

In [1]:
%load_ext sql
%sql sqlite:///bookstore.db

In [2]:
%%sql

select country from author ORDER BY 1

 * sqlite:///bookstore.db
Done.

[('Argentina',),
 ('Australia',),
 ('Brazil',),
 ('Canada',),
 ('China',),
 ('Colombia',),
 ('France',),
 ('Germany',),
 ('India',),
 ('Italy',),
 ('Japan',),
 ('Mexico',),
 ('Netherlands',),
 ('Portugal',),
 ('Russia',),
 ('South Africa',),
 ('Spain',),
 ('UK',),
 ('USA',),
 ('USA',)]

####  The order by clause sorts the result set.

####  the authors come from the same country, so the result set contains duplicates.

In [3]:
%%sql

select count(country) from author ORDER BY 1

 * sqlite:///bookstore.db
Done.

[(20,)]

In [4]:
%%sql

select Distinct(country) from author ORDER BY 1

 * sqlite:///bookstore.db
Done.

[('Argentina',),
 ('Australia',),
 ('Brazil',),
 ('Canada',),
 ('China',),
 ('Colombia',),
 ('France',),
 ('Germany',),
 ('India',),
 ('Italy',),
 ('Japan',),
 ('Mexico',),
 ('Netherlands',),
 ('Portugal',),
 ('Russia',),
 ('South Africa',),
 ('Spain',),
 ('UK',),
 ('USA',)]

In [5]:
%%sql

select count(Distinct(country)) from author ORDER BY 1

 * sqlite:///bookstore.db
Done.

[(19,)]

#### To eliminate duplicates, we use the keyword distinct.

In [7]:
%%sql

select country, count(country) as count from author
Group BY country

 * sqlite:///bookstore.db
Done.

[('Argentina', 1),
 ('Australia', 1),
 ('Brazil', 1),
 ('Canada', 1),
 ('China', 1),
 ('Colombia', 1),
 ('France', 1),
 ('Germany', 1),
 ('India', 1),
 ('Italy', 1),
 ('Japan', 1),
 ('Mexico', 1),
 ('Netherlands', 1),
 ('Portugal', 1),
 ('Russia', 1),
 ('South Africa', 1),
 ('Spain', 1),
 ('UK', 1),
 ('USA', 2)]

#### The "group by" clause groups a result into subsets that has matching values for one or more columns.

In [10]:
%%sql

select country, count(country) as count from author
Group BY country
Having count(country) > 3;

 * sqlite:///bookstore.db
Done.

[('USA', 4)]

#### The "having" clause is used in combination with the "group by" clause.

#### the "having" clause works only with the "group by" clause.