### Sorting Result Sets

In [1]:
%load_ext sql

In [2]:
%sql sqlite:///bookstore.db

In [4]:
%%sql

select title from book limit 10;

 * sqlite:///bookstore.db
Done.

[('Getting started with DB2 Express-C',),
 ('Database Fundamentals',),
 ('Getting started with DB2 App Dev',),
 ('Getting started with WAS CE',),
 ('Advanced DB2 for Developers',),
 ('Cloud Databases Simplified',),
 ('Mastering SQL Queries',),
 ('Big Data and Hadoop',),
 ('Data Mining Fundamentals',),
 ('Introduction to Machine Learning',)]

#### Displaying the results set in alphabetical order would make the result set more convenient. To do this, we use the "order by" clause.

### Using Order by clause
To display the result set in alphabetical order, we add the order by clause to the select statement. The order by clause is used in a query to sort the result set by a specified column.

In [5]:
%%sql

select title from book ORDER BY title limit 10;

 * sqlite:///bookstore.db
Done.

[('AI and Robotics',),
 ('Advanced DB2 for Developers',),
 ('Big Data and Hadoop',),
 ('Book Title 100',),
 ('Book Title 14',),
 ('Book Title 15',),
 ('Book Title 16',),
 ('Book Title 17',),
 ('Book Title 18',),
 ('Book Title 19',)]

#### By default, the result set is sorted in ascending order.

#### To sort in descending order, use the key word" desc."

In [7]:
%%sql
select title from book ORDER BY title desc limit 10;

 * sqlite:///bookstore.db
Done.

[('Python for Data Science',),
 ('Mastering SQL Queries',),
 ('Introduction to Machine Learning',),
 ('Getting started with WAS CE',),
 ('Getting started with DB2 Express-C',),
 ('Getting started with DB2 App Dev',),
 ('Deep Learning with TensorFlow',),
 ('Database Fundamentals',),
 ('Data Mining Fundamentals',),
 ('Cloud Databases Simplified',)]

#### Another way of specifying the sort column is to indicate the column sequence number.

##### select title, pages from book order by two, indicates the column sequence number in the query for the sorting order.

In [9]:
%%sql
select title, pages from book ORDER BY 2 desc limit 10;

 * sqlite:///bookstore.db
Done.

[('AI and Robotics', 750),
 ('Deep Learning with TensorFlow', 700),
 ('Introduction to Machine Learning', 600),
 ('Big Data and Hadoop', 500),
 ('Getting started with WAS CE', 458),
 ('Mastering SQL Queries', 420),
 ('Advanced DB2 for Developers', 380),
 ('Getting started with DB2 App Dev', 345),
 ('Data Mining Fundamentals', 320),
 ('Getting started with DB2 Express-C', 300)]

#### Instead of specifying the column name pages, the number two is used. In the select statement, the second column specified in the column list is pages,

In [10]:
%%sql

INSERT INTO Author (Author_ID, First_Name, Last_Name, Country) 
VALUES 
    ('A21', 'Lucas', 'Harris', 'USA'),
    ('A22', 'Mia', 'Robinson', 'UK'),
    ('A23', 'Ethan', 'Scott', 'Canada'),
    ('A24', 'Isabella', 'Young', 'Australia'),
    ('A25', 'Alexander', 'King', 'Germany'),
    ('A26', 'Grace', 'Green', 'France'),
    ('A27', 'Jackson', 'Hall', 'Brazil'),
    ('A28', 'Chloe', 'Adams', 'USA'),
    ('A29', 'Sebastian', 'Baker', 'Italy'),
    ('A30', 'Avery', 'Gonzalez', 'South Africa'),
    ('A31', 'Jack', 'Nelson', 'India'),
    ('A32', 'Ella', 'Carter', 'Japan'),
    ('A33', 'Logan', 'Mitchell', 'China'),
    ('A34', 'Lily', 'Perez', 'Mexico'),
    ('A35', 'Ryan', 'Roberts', 'Spain'),
    ('A36', 'Zoe', 'Turner', 'Argentina'),
    ('A37', 'Nathan', 'Phillips', 'Colombia'),
    ('A38', 'Hannah', 'Campbell', 'Portugal'),
    ('A39', 'Dylan', 'Parker', 'Russia'),
    ('A40', 'Leah', 'Evans', 'Netherlands');

 * sqlite:///bookstore.db
20 rows affected.

[]

In [11]:
%%sql
select title, pages from book ORDER BY 2 desc limit 10;

 * sqlite:///bookstore.db
Done.

[('AI and Robotics', 750),
 ('Deep Learning with TensorFlow', 700),
 ('Introduction to Machine Learning', 600),
 ('Big Data and Hadoop', 500),
 ('Getting started with WAS CE', 458),
 ('Mastering SQL Queries', 420),
 ('Advanced DB2 for Developers', 380),
 ('Getting started with DB2 App Dev', 345),
 ('Data Mining Fundamentals', 320),
 ('Getting started with DB2 Express-C', 300)]