### SELF JOIN
-----------------
- A table which is joined itselff is known as self join.
- In this case we can use alias name from single table 
<br>
Here alias names are temporary

#### employee
------
| ename   | city | 
| ------- | ---- | 
| kiran | mub  | 
| hari | hyd  | 
| madhu | hyd  | 
| smith | delhi  | 
| scott | mub  | 
| allen | hyd  | 
| soumya | channi  | 
| johai | delhi  | 

- Ex: Display employee details Who is living in a city where jhonne is living?
pic here

------
1. Goto first alias table and check the employee name "Jhone"
2. If it is there then get his city'
3. Then the city from first alias table is compared with all city names in 2nd alias table.
4. If the city values are equal then get the records from (records alias table)alias table

1. ans<br>
`SELECT e2.ename, e2.city`<br>
`FROM employee e1, employee e2`<br>
`AND`<br>
`e.city = e2.city`<br>
or<br>
`SELECT e2.*`<br>
`FROM employee e1,employee e2`<br>
`WHERE e1.ename = 'Jhone`<br>
`AND`<br>
`e1.city = e2.city`<br>
o/p -> swith delhi, johan delhi

### Q2. Display employee details who is working like 'smit'?
----
`SELECT e2.* FROM e1, emp e2`<br>
`WHERE e1.ename = "SMIT" AND e1.job = e2.job`

###  Q3. Display customer details who is the city where c5 is living?
---------
`SELECT c2.* FROM Customers c1, customer c2`<br>
`WHERE c1.cid = 'c5' AND c1.city = c2.city;`

#### Q4. Display employee details who is working like 'clark'
-------------
`SELECT e2.* FROM emp e1, emp e2`<br>
`WHERE e1.ename = 'Clark`<br>
`AND`<br>
`e1.job = e2.job`<br>

## Equi join -> 4th video
 ---------------
 
 `SELECT e.name, e.sal, e.job, d.name, d.loc, i.*`<br>
        ` FROM emp e, dept d, incr i`<br>
        ` WHERE e.job = 'MANAGER' AND I.INGD = 'i3'`<br>
       `  AND e.dptno = d.depno`
 
 - INCR table not related to othere table that why we cannot apply INNER JOIN, So we are using EQUI JOIN

###  INNER JOIN 
------------------

` SELECT e.name, e.sal, e.job, d.*`<br>
` FROM emp e INNER JOIN dept d`<br>
` WHERE e.job = 'CLERK'`

- `WHERE` clase is used to write filter condion and `ON` close is used to write join condtion.
- we are use JOIN & WHERE both in INNER JOIN

### SELF JOIN
-----------------
Q. Who is working like martin
----
` SELECT e2.ename, e2.sal, e2.job, e.deptno`<br>
` FROM emp e1, emp e2`<br>
` AND`<br>
` e1.job == e2.job`

#### Q Display emp data Who is working in department whew sumit is working?
` SELECT b.* FROM emp a, emp b`<br>
` WHERE a.ename = 'SMITH'`<br>
` AND`<br>
`a.deptno = b.dept.no`
- if we select `a.*` (first table) it display duplicate data

### 
- INNER JOIN is similar to EQUI JOIN
- In case of INNER JOIN query in between two tables we should specify INNER JOIN keyword
- the `JOIN` condtion you should specify by using `ON ` Clause
- If you want to specify filter conditions we should specify under `WHERE` Close at the end of query.

### Q. Which case we should use INNER JOIN
IF you want to use EQUI-JOIN output in Outer JOIN query we need EQUI JOIN OUTPUT
in OUTTER JOIN query in such case Dont not use EQUI JOIN query becaouse EQUI JOIN support
- WHERE CLAUSE and OUTTER JOIN SUPPORT ON CLAUSE so both aare incompatible
- If you need INNER JOIN along with OUTTER JOIN or EQUI JOIN output along with OUTTER JOIN
- We should use INNER JOIN only becaouse INNER JOIN Support `ON` CLAUSE and OUTTER JOIN alse support `ON` CLAUSE

##  OUTTER JOIN
------------------------
- Display all data from one table and only matched data from other table

#### Three types of OUTTER JOIN
---------------------------------
1. LEFT OUTTER JOIN OR LEF JOIN
    - All data from left table + only matched data from right table.
2. RIGHT OUTTER JOIN OR RIGHT JOIN
    - All data from Right table + only matched data from left table
3. FULL OUTER JOIN (OR) FULL JOIN
    - Matched data from both tables + unmatched data from left table, unmatched data from Right table
- Join condition should be specified byusing `ON` Clouse
- getting all the data from both table

Syntax
----------
`SELECT Col .......`<br>
`FROM table1`<br>
`ON <JOIN Cond>`<br>
`WHERE <FILTER COND>`<br>
`ORDER BY ......`<br>

- company_table -> compid, compname
- prod -> pid,pname,cost,msg,disk,compid
#### INNER JOIN
`SELECT p.pid, p.name, c.pid,c.compname`<br>
`FROM prod p INNER JOIN`<br>
`comp c`<br>
`ON p.compid = c.compid`
'ADD output image here'

#### LEFT JOIN
`SELECT p.pid, p.name, c.*`<br>
`FROM prod p LEFT JOIN comp c`<br>
`ON p.compid = c.compid`
'add output here'

#### -
`SELECT p.pid, p.name, c.compid `<br>
`FROM prod p RIGHT JOIN`<br>
`com c`<br>
`ON p.compid = c.compid`

#### - 
` SELECT p.pid, p.name, c.*`<br>
`FROM prod p FULL JOIN comp c `<br>
`ON p.comid = c.comid`

### 
`CREATE table deptcp`<br>
`AS`<br>
`SELECT * FROM dept;`<br>

### 
`UPDATE empcp SET depno = null`<br>
`WHERE depno = 30;`
commit

####  Alter table empcp drop column colm
-----------------------------------------------------------

`SELECT e.ename, e.sal, e.deptno, d.deptno, d.name`<br>
`FROM empcp e INNER JOIN deptcp d`<br>
`ON e.deptno = d.deptno;`<br>
----------------------------------------
`SELECT e.ename, e.sal, e.deptno, d.deptno, d.dname`<br>
`FROM empcp e LEFT JOIN deptcp d`<br>
`ON e.deptnp= d.deptno;`